p {
  font-family: Arial;
}
h1 {style
color:blue }
h2.Hobbies {
  font-family: cursive;
}
<body style="background-image:url('clouds.jpg')">
</body>
h3 {
  color: rebeccapurple !important;
}
h3,
p {
  font-family: Georgia;
  color: Green 
}
h2 {
  color: teal;
}
.uppercase {
  text-transform: uppercase;
}
.publish-time {
  color: gray;
}
.cursive {
  font-family: cursive;
}
.capitalize {
  text-transform: capitalize;
}
.description h2 {
  color: teal;
}
